@tailwind base;
@tailwind components;
@tailwind utilities;

.open {
  animation: open .5s forwards;
}

@keyframes open {
  from {
    transform: translateY(-50px);
    gap: 5px;
  } to {
    transform: translateY(0px);
    gap: 24px;
  }
}